# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Debug files
*.dSYM/
*.su
*/Debug/

# LOG files
**.log
/home/utnso/tp-2017-2c-s1st3m4s_0p3r4t1v0s/DataNode/DataNode.log
/home/utnso/tp-2017-2c-s1st3m4s_0p3r4t1v0s/FileSystem/FileSystem.log
/home/utnso/tp-2017-2c-s1st3m4s_0p3r4t1v0s/Master/Master.log
/home/utnso/tp-2017-2c-s1st3m4s_0p3r4t1v0s/Worker/Worker.log
/home/utnso/tp-2017-2c-s1st3m4s_0p3r4t1v0s/YAMA/Yama.log



.metadata
RemoteSystemsTempFiles/

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
